<br><br>
<mat-tab-group preserveContent>
  <mat-tab label="Middle Class Diwali">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/itl9I_p8cbc"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </mat-tab>
  <mat-tab label="Please Find Attached">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/videoseries?list=PLhcQ2RW5rUQFSnoQhNhbdhJwzzbx2yZwW"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </mat-tab>
  <mat-tab label="Operation MBBS">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/videoseries?list=PLhcQ2RW5rUQHb--gWnJqn5DonNnDPgKFD" 
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </mat-tab>
  <mat-tab label="From FilterCopy">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/gg7qSHJL25I"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </mat-tab>
</mat-tab-group>
